In [83]:
from keras.layers import Dense, Flatten, Conv2D
from keras.layers import MaxPooling2D, Dropout
from keras.utils import np_utils, print_summary
from keras.models import Sequential
from keras.callbacks import ModelCheckpoint
import pandas as pd
import numpy as np
import keras.backend as K

### Load Data

In [84]:
df = pd.read_csv("Gestures_dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14998 entries, 0 to 14997
Columns: 2501 entries, 1 to 0.1620
dtypes: float64(2501)
memory usage: 286.2 MB

### Data Analysis

In [85]:
df.shape

(14998, 2501)

In [86]:
#Remove blank rows
df = df.dropna()
df.shape

(7499, 2501)

In [87]:
df.head(10)

,1,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.1611,0.1612,0.1613,0.1614,0.1615,0.1616,0.1617,0.1618,0.1619,0.1620
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [88]:
df.tail(10)

,1,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.1611,0.1612,0.1613,0.1614,0.1615,0.1616,0.1617,0.1618,0.1619,0.1620
14979,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14981,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14983,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14985,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14987,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14989,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14991,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14993,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14995,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14997,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [89]:
#Check for missing values
df.isna().sum()

1         0
0         0
0.1       0
0.2       0
0.3       0
         ..
0.1616    0
0.1617    0
0.1618    0
0.1619    0
0.1620    0
Length: 2501, dtype: int64

### Modellling

In [90]:
#Set up data
dataset = np.array(df) #Total columns = 50*50
np.random.shuffle(dataset) #Shuffle dataset

x = dataset
y = dataset
x = x[:, 1:2501] #All rows and all columns except first column
y = y[:, 0] #All rows and first column

In [91]:
#Split data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.1)

In [92]:
#Normalization
x_train = x_train/255 
x_test = x_test/255

In [93]:
#Reshaping y_train and y_test
y_train = y_train.reshape(y_train.shape[0], 1)
y_train = y_train.T
y_test = y_test.reshape(y_test.shape[0], 1)
y_test = y_test.T

In [94]:
print("No. of training samples: "+str(x_train.shape[0]))
print("No. of testing samples: "+str(x_test.shape[0]))
print("x_train shape: "+str(x_train.shape))
print("y_train shape: "+str(y_train.shape))     
print("x_test shape: "+str(x_test.shape))
print("y_test shape: "+str(y_test.shape))

No. of training samples: 6749
No. of testing samples: 750
x_train shape: (6749, 2500)
y_train shape: (1, 6749)
x_test shape: (750, 2500)
y_test shape: (1, 750)

In [95]:
#Preprocessing data
image_x = 50
image_y = 50

train_y = np_utils.to_categorical(y_train)
test_y = np_utils.to_categorical(y_test)

train_y = train_y.reshape(train_y.shape[1],train_y.shape[2])
test_y = test_y.reshape(test_y.shape[1],test_y.shape[2])

x_train = x_train.reshape(x_train.shape[0], 50, 50, 1)
x_test = x_test.reshape(x_test.shape[0], 50, 50, 1)

print("x_train shape: "+str(x_train.shape))
print("x_test shape: "+str(x_test.shape))
print("train_y shape: "+str(train_y.shape))
print("test_y shape: "+str(test_y.shape))

x_train shape: (6749, 50, 50, 1)
x_test shape: (750, 50, 50, 1)
train_y shape: (6749, 16)
test_y shape: (750, 16)

In [96]:
#Make Keras model

num_of_classes = 16 #Taken from train_y and test_y
    
model = Sequential() 
    
#2d Model layers
model.add(Conv2D(32, (5,5), input_shape=(image_x,image_y,1), activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2), strides=(2,2), padding='same'))
model.add(Conv2D(64, (5,5), activation='relu'))
model.add(MaxPooling2D(pool_size=(5,5), strides=(5,5), padding='same'))
    
model.add(Flatten()) #Converts to 1d model
#1d Model layers
model.add(Dense(1024, activation='relu'))
model.add(Dropout(0.6)) #Only 0.6 of random hidden layrs are used to prevent from overfitting 
model.add(Dense(num_of_classes, activation='softmax'))

WARNING:tensorflow:Large dropout rate: 0.6 (>0.5). In TensorFlow 2.x, dropout() uses dropout rate instead of keep_prob. Please ensure that this is intended.

In [97]:
#Compile the model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
filepath = "hand_gestures.h5"
checkpoint1 = ModelCheckpoint(filepath, monitor='val_acc', verbose=0, save_best_only=True, mode='max')
callbacks_list = checkpoint1

In [98]:
#Fit and evaluate the model

model.fit(x_train,train_y, validation_data=(x_test,test_y), epochs=1, batch_size=64, callbacks = [callbacks_list])

score = model.evaluate(x_test, test_y, verbose=0)
print("CNN Error: %.2f%%" % (100-score[1] * 100))
print_summary(model)

Train on 6749 samples, validate on 750 samples
Epoch 1/1
6749/6749 [==============================] - 31s 5ms/step - loss: 0.2689 - accuracy: 0.9262 - val_loss: 2.4818e-04 - val_accuracy: 1.0000

C:\Users\dell\miniconda3\envs\tensorflow\lib\site-packages\keras\callbacks\callbacks.py:707: RuntimeWarning: Can save best model only with val_acc available, skipping.
  'skipping.' % (self.monitor), RuntimeWarning)

CNN Error: 0.00%
Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_11 (Conv2D)           (None, 46, 46, 32)        832
_________________________________________________________________
max_pooling2d_11 (MaxPooling (None, 23, 23, 32)        0
_________________________________________________________________
conv2d_12 (Conv2D)           (None, 19, 19, 64)        51264
_________________________________________________________________
max_pooling2d_12 (MaxPooling (None, 4, 4, 64)          0
_________________________________________________________________
flatten_6 (Flatten)          (None, 1024)              0
_________________________________________________________________
dense_11 (Dense)             (None, 1024)              1049600
_________________________________________________________________
dropout_4 (Dropout)          (None, 1024)              0
_________________________________________________________________
dense_12 (Dense)             (None, 16)                16400
=================================================================
Total params: 1,118,096
Trainable params: 1,118,096
Non-trainable params: 0
_________________________________________________________________

In [99]:
#Save the model
model.save("Predictor_model.h5")